<div class="profile-image span-2">
  <img src="<%= @print.user.profile_image_url %>" />
</div>
<h1><%= page_title(h(@print.title)) %></h1>

<div class="container">
  <div class="span-10 append-2">
    <h2>Word cloud</h2>
    <%= cloud(@print.word_frequencies) %>
  </div>
  <div class="span-10">
    <h2>Statistics</h2>
    <% statistics = [
      [
        "Average tweet frequency",
        "tweets / day",
        @print.timeline.avg_tweet_frequency
      ],
      [
        "Average tweet frequency this month",
        "tweets / day",
        @print.timeline.avg_tweets_per_day
      ],
    ] %>
    <% statistics.each do |statistic| %>
      <div class="container stat">
        <div class="span-5 stat-label">
          <%= statistic[0] %>
        </div>
        <div class="span-2 stat-units">
          (<%= statistic[1] %>)
        </div>
        <div class="span-3 prepend-1 stat-value">
          <%= statistic[2].to_f.round(1) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
